---
layout: default
---

{% assign prevflag = 1 %}
{% assign nextflag = 1 %}

{% for c in site.filmes %}
  {% if c.title == page.title %}
    {% assign currentItemIndex = forloop.index0 %}
    {% if forloop.index == 1 %}
      {% assign prevflag = 0 %}
      {% assign nextflag = 1 %}
    {% elsif forloop.index == forloop.length %}
      {% assign prevflag = 1 %}
      {% assign nextflag = 0 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if prevflag == 1 %}
  {% assign prevItemIndex = currentItemIndex | minus: 1 %}
  {% assign prevPost = site.filmes[prevItemIndex] %}
{% endif %}

{% if nextflag == 1 %}
  {% assign nextItemIndex = currentItemIndex | plus: 1 %}
  {% assign nextPost = site.filmes[nextItemIndex] %}
{% endif %}

<div id="post-nav">
    {% if prevPost.url %}
    <a class="prev" rel="prev" href="{{ prevPost.url }}">
        <span>&lt; {{ prevPost.title }}</span>
    </a>
    {% endif %}
    {% if nextPost.url %}
    <a class="next" rel="next" href="{{ nextPost.url }}">
        <span>{{ nextPost.title }} &gt;</span>
    </a>
    {% endif %}
</div>
{% comment %}
{% for item in site.filmes %}
  <h2>{{ item.title }}</h2>
  <p>{{ item.description }}</p>
  <p><a href="{{ item.url }}">{{ item.title }}</a></p>
{% endfor %}
{% endcomment %}